/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.contact-s3, .gallery-s3 {
  background-color: #999 !important;
  background-blend-mode: multiply !important;
}

/* line 8, ../sass/partials/_modules.scss */
.contact-s2 {
  background-position: center !important;
}

/* line 13, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 17, ../sass/partials/_modules.scss */
header {
  z-index: 10;
}

/* line 20, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 414px) {
  /* line 25, ../sass/partials/_modules.scss */
  .index-s1, .contact-s1, .gallery-s1 {
    background-position: left !important;
  }

  /* line 30, ../sass/partials/_modules.scss */
  .info-s1 {
    background-position: right !important;
  }
}
@media all and (min-width: 415px) {
  /* line 38, ../sass/partials/_modules.scss */
  .index-s1 {
    background-position: center !important;
  }

  /* line 43, ../sass/partials/_modules.scss */
  .info-s1 {
    background-position: center !important;
  }
  /* line 46, ../sass/partials/_modules.scss */
  .info-s3, .info-s4, .info-s5 {
    background-position: center !important;
  }
}
@media all and (max-width: 767px) {
  /* line 54, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 55, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
  }
  /* line 62, ../sass/partials/_modules.scss */
  .contact-s2 {
    background-position: right !important;
  }

  /* line 67, ../sass/partials/_modules.scss */
  .index-s1, .gallery-s1 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 68, ../sass/partials/_modules.scss */
  .index-s1 *, .gallery-s1 * {
    color: #fff !important;
  }

  /* line 77, ../sass/partials/_modules.scss */
  .info-s1, .info-s3, .info-s4, .info-s5 {
    background-color: #999 !important;
    background-blend-mode: multiply !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 78, ../sass/partials/_modules.scss */
  .info-s1 *, .info-s3 *, .info-s4 *, .info-s5 * {
    color: #fff !important;
  }

  /* line 87, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #999 !important;
    border: 1px solid #666 !important;
    color: #333 !important;
    padding: 10px;
  }
  /* line 88, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.faq-s1 {
  background-attachment: scroll;
  background-image: url(../img/faq/faq-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.gallery-s1 {
  background-attachment: scroll;
  background-image: url(../img/gallery/gallery-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.gallery-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.gallery-s3 {
  background-attachment: scroll;
  background-image: url(../img/gallery/gallery-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.info-s1 {
  background-attachment: scroll;
  background-image: url(../img/info/info-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.info-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.info-s3 {
  background-attachment: scroll;
  background-image: url(../img/info/info-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.info-s4 {
  background-attachment: scroll;
  background-image: url(../img/info/info-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.info-s5 {
  background-attachment: scroll;
  background-image: url(../img/info/info-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.user-s1 {
  background-attachment: scroll;
  background-image: url(../img/user/user-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
