.contact,.gallery{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.contact{
    &-s2{
        background-position: center!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width: 414px){
    .index,.contact,.gallery{
        &-s1{
            background-position: left!important;
        }
    }
    .info{
        &-s1{
            background-position: right!important;
        }
    }

}
@media all and (min-width: 415px){
    .index{
        &-s1{
            background-position: center!important;
        }
    }
    .info{
        &-s1{
            background-position: center!important;
        }
        &-s3,&-s4,&-s5{
            background-position: center!important;
        }
    }

}
@media all and (max-width: 767px){
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .index,.gallery{
        &-s1{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .info{
        &-s1,&-s3,&-s4,&-s5{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
}