$prefix: "../img/";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__faq-img: $prefix+"faq/faq-s1.jpg";
$bg__gallery-img: 
    $prefix+"gallery/gallery-s1.jpg",
    "",
    $prefix+"gallery/gallery-s3.jpg";
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__info-img: 
    $prefix+"info/info-s1.jpg",
    "",
    $prefix+"info/info-s3.jpg",
    $prefix+"info/info-s4.jpg",
    $prefix+"info/info-s5.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__classes:
    "comingsoon",
    "contact",
    "error",
    "faq",
    "gallery",
    "index",
    "info",
    "privacy",
    "user";
$bg__aoa:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__faq-img,
    $bg__gallery-img,
    $bg__index-img,
    $bg__info-img,
    $bg__privacy-img,
    $bg__user-img;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 